/* headerSection.module.css */

.header-container {
    position: relative;
    
}

.background-image {
    position: absolute;
    inset: 0;
    background-image: url("../../public/road-to-sunrise-facebook-cover.jpg");
    background-size: cover;
    z-index: -1;
}

.header-text {
    color: black;
}